<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= tag.p notice if notice %>
    <%= tag.p alert if alert %>

    <nav>
      <%= link_to "Home", root_path %>

      <% if user_signed_in? %>
        <%= link_to "Profile", profile_path %>
        <%= button_to "Log out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", sign_up_path %>
        <%= link_to "Log in", login_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
