<h1><%=t ".log_in" %></h1>

<%= form_with url: login_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.button t(".log_in") %>
  </div>
<% end %>

<%= render "revise_auth/shared/links" %>
