<h1><%=t ".send_password_reset_instructions" %></h1>

<%= form_with model: @user, url: password_resets_path do |form| %>
  <% if form.object.errors.any? %>
    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.button t(".send_password_reset_instructions") %>
  </div>
<% end %>

<%= render "revise_auth/shared/links" %>
