<% content_for :form_block do %>
  <div class="mb-4 text-center">
    <h2 class="mb-1">Sign Up</h2>
    <%= link_to "Log in", login_path, class: "font-semibold" %>
  </div>

  <%= form_with local: true, model: @user, url: sign_up_path do |f| %>
    <%= render "shared/error_messages", resource: @user %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", placeholder: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: true,  required: true, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= f.button "Sign Up", disable_with: "Submitting", class: "btn btn-primary btn-expanded" %>
    </div>
  <% end %>

<% end %>

<%= render "revise_auth/shared/form_block" %>

