<main class="w-full flex-grow p-6">
  <h1 class="text-3xl text-black pb-6">Users</h1>
  <div class="w-full mt-6">
    <p class="text-xl pb-3 flex items-center">
    <i class="fas fa-list mr-3"></i> User Table
    </p>
    <div class="bg-white overflow-auto">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Edit</th>
            <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Name</th>
            <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Last name</th>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Email</td>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <% @users.each_with_index do |user, index| %>
            <% if index.even? %>
              <tr>
                <td class="w-1/3 text-left py-3 px-4">
                  <a class="btn btn-sm" href="/admin/users/<%=user.id%>">
                    Edit
                  </a>
                </td>
                <td class="w-1/3 text-left py-3 px-4"><%= user.first_name %></td>
                <td class="w-1/3 text-left py-3 px-4"><%= user.last_name %></td>
                <td class="text-left py-3 px-4"><a class="hover:text-blue-500" href="mailto:jonsmith@mail.com"><%= user.email %></a></td>
              </tr>
            <% else %>
              <tr class="bg-gray-200">
                <td class="w-1/3 text-left py-3 px-4"><%= link_to "Edit", admin_users_show_path(user.id)%></td>
                <td class="w-1/3 text-left py-3 px-4"><%= user.first_name %></td>
                <td class="w-1/3 text-left py-3 px-4"><%= user.last_name %></td>
                <td class="text-left py-3 px-4"><a class="hover:text-blue-500" href="mailto:jonsmith@mail.com"><%= user.email %></a></td>
              </tr>
            <% end %>
          <% end %>
      </table>
    </div>
  </div>
</main>

