<h1><%=t ".profile" %></h1>

<%= form_with model: current_user, url: profile_email_path do |form| %>
  <fieldset>
    <legend><%=t ".change_email_address" %></legend>

    <% if current_user.unconfirmed_email? %>
      <p><%=t ".waiting_confirmation", email: current_user.unconfirmed_email %></p>
    <% end %>

    <% if form.object.errors.any? %>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <p><%=t ".current_email_address", email: current_user.email %></p>
    <p><%=t ".confirmation_instructions" %></p>

    <div>
      <%= form.label :unconfirmed_email, t(".new_email") %>
      <%= form.email_field :unconfirmed_email, required: true %>
    </div>

    <div>
      <%= form.button t(".save") %>
    </div>
  </fieldset>
<% end %>

<%= form_with model: current_user, url: profile_password_path do |form| %>
  <fieldset>
    <legend><%=t ".change_password" %></legend>

    <% if form.object.errors.any? %>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div>
      <%= form.label :password_challenge %>
      <%= form.password_field :password_challenge, required: true %>
    </div>

    <div>
      <%= form.label :password, t(".new_password") %>
      <%= form.password_field :password, required: true %>
    </div>

    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true %>
    </div>

    <div>
      <%= form.button t(".save") %>
    </div>
  </fieldset>
<% end %>

<%= form_with url: profile_path, method: :delete do |form| %>
  <fieldset>
    <legend><%=t ".delete_account" %></legend>
    <%= form.button t(".delete_account"), data: { turbo_confirm: t(".confirm") } %>
  </fieldset>
<% end %>
