<% content_for :form_block do %>
  <div class="mb-4 text-center">
    <h2 class="mb-1">Profile</h2>
  </div>
  <%= form_with model: current_user, local: true, url: profile_email_path do |form| %>
    <%= render "shared/error_messages", resource: current_user  %>
    <div class="form-group">
      <%= form.label :first_name, "First name" %>
      <%= form.text_field :first_name, autofocus: true, autocomplete: "name", placeholder: "Steve", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :last_name, "Last name" %>
      <%= form.text_field :last_name, autofocus: true, autocomplete: "name", placeholder: "Jobs", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :unconfirmed_email, autocomplete: "email", placeholder: "you@example.com", class: "form-control" %>
    </div>

    <div class="mt-2 form-group">
      <%= form.button "Update", disable_with: "Saving", class: "btn btn-primary" %>
    </div>
  <% end %>


  <%= form_with model: current_user, local: true, url: profile_password_path do |form| %>
    <%= render "shared/error_messages", resource: current_user  %>
    <div class="form-group">
      <%= label_tag :current_password %>
      <%= password_field_tag :current_password, nil, required: true,  class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password, "New password" %>
      <%= form.password_field :password, required: true,  class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true,  class: "form-control" %>
    </div>
    <div class="mt-2 form-group">
      <%= form.button "Update Password", disable_with: "Saving", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="flex flex-wrap flex-end">
    <div class="flex-1">
      <h3 class="mb-4">Cancel my account</h3>
      <div class="mt-2">
        <%= form_with url: profile_path, local: true, method: :delete do |form| %>
          <fieldset>
            <%= form.button "Delete account", class: "btn btn-danger btn-outline primary" %>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>



<% end %>
<%= render "revise_auth/shared/form_block" %>
